body{
 background-color: lightgrey;

}
h1{
    border-bottom: 2px solid orange;
    text-align: center;
}
div.mynavbar{
    background-color: grey;
    padding: 0;
    margin: 1em;

}
.opmaak{
    background-color: white; 
    padding: 1em;
} 
#submit {
    width: 100%;
} 
img {
    max-width: 500px; 
    overflow: visible;
    float: right; 
    margin: 1em; 
    
}
.submit{

    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid darkblue;
    position: absolute; 
    

}
.submit:hover {
    background-color: purple; 
    color: white;
}
